@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

h1 {
    font-family: 'Rampart One', cursive;
    text-align: center;
}

h3 {
    font-family: 'Rampart One', cursive;
}
