@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

h1 {
    font-family: 'Rampart One', cursive;
    text-align: center;
}

h3 {
    font-family: 'Rampart One', cursive;
}

body {
  font-size: 16px;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
}

.HomePage {
  color: white;
  

}

.AboutPage {

}

.ContactPage{

}

.AppPage {

}

.ShowPage{
}
